:root{
    --width: 800px;
}

.header {
    height: 100px;
    background-color: rgba(100, 135, 132, 0.545);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.input-group-sm,
.form-select {
    width: var(--width);
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.btn-secondary {
    width: var(--width);
    background-color: rgba(100, 135, 132, 0.545);
    border: none;
    margin-bottom: 10px;
}

#todo-list {
    width: var(--width);
    padding: 0;
    margin-top: 20px;
   
}

.todo-item {
    position: relative;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0;
    list-style: none;
  
}

.status {
    margin-right: 10px;

}

.close {
    color: red;
    cursor: pointer;
    font-weight: bolder;
    justify-self: self-end ;
}
.close:hover {
    color:tomato
}

.div_close {
    position: absolute;
    right: 0;
 
}